.loginForm-container {
    flex: 1 1 0%;
    overflow: auto;
}

.loginForm-content {
    margin: auto;
    width: 80%;
}

.loginForm-title {
    font-size: 32px;
    margin: 16px auto;
    font-weight: 700;
    color: rgb(22, 24, 35);
    text-align: center;
    overflow-wrap: break-word;
}

.loginForm-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgb(22, 24, 35);
}

.loginForm-loginPhone {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}

.loginForm-inputForm {
    margin-bottom: 10px;
}

.loginForm-input {
    width: 100%;
    font-size: 16px;
    height: 44px;
    border-radius: 2px;
    color: rgb(22, 24, 35);
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    line-height: 100%;
    outline: none;
    caret-color: rgb(254, 44, 85);
}

.loginForm-forgotPassword {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.75);

    &:hover {
        text-decoration: underline;
    }
}

.loginForm-loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    line-height: 22px;
    padding: 6px 8px;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    position: relative;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 21px;
}
