.loginPassword-wrapper {
    flex: 1 1 0%;
    overflow: auto;
}

.loginPassword-content {
    width: 80%;
    margin: auto;
}

.loginPassword-title {
    font-size: 32px;
    margin: 16px auto;
    font-weight: 700;
    text-align: center;
    color: rgb(22, 24, 35);
    overflow-wrap: break-word;
}

.loginPassword-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    color: rgb(22, 24, 35);
    margin-bottom: 5px;
}

.loginPassword-loginEmail {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.75);

    &:hover {
        text-decoration: underline;
    }
}

.loginPassword-phoneNumber {
    margin-bottom: 10px;
}

.loginPassword-phoneDivContainer {
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background: rgba(22, 24, 35, 0.06);
    transition: all 0.3s ease 0s;
}

.loginPassword-selectionContainer {
    position: relative;
    cursor: pointer;
}

.loginPassword-labelContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    height: 44px;
    position: relative;
}

.loginPassword-labelContainer::after {
    content: '';
    width: 1px;
    height: 30px;
    background: rgba(22, 24, 35, 0.12);
    right: 0px;
    left: unset;
    position: absolute;
}

.loginPassword-regionLabel {
    font-size: 16px;
    line-height: 1;
    color: rgb(22, 24, 35);
    margin-inline-end: 12px;
}

.loginPassword-arrowIcon {
    transform: rotateZ(0deg);
    transition: all 0.3s ease 0s;
}

.loginPassword-basedInput {
    position: relative;
    flex: 1 1 0%;
    width: 0px;
    margin-bottom: 0px;
}

.loginPassword-inputPhoneNumber {
    border-radius: 2px;
    background-color: transparent;
    border: none rgba(22, 24, 35, 0.12);
    padding-inline-start: 12px;
    color: rgb(22, 24, 35);
    line-height: 100%;
    outline: none;
    font-size: 16px;
    height: 44px;
    caret-color: rgb(254, 44, 85);
    width: 100%;
    padding-inline-end: unset;
}

.loginPassword-fillPassword {
    margin-bottom: 10px;
    position: relative;
}

.loginPassword-fillPasswordInput {
    border-radius: 2px;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid rgba(22, 24, 35, 0.12);
    padding-inline: 12px 24px;
    color: rgb(22, 24, 35);
    line-height: 100%;
    outline: none;
    font-size: 16px;
    height: 44px;
    caret-color: rgb(254, 44, 85);
    width: 100%;
}

.loginPassword-forgotPassword {
    display: flex;
    align-items: center;
}

.loginPassword-linkForgotPassword,
.loginPassword-linkLoginCode {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.75);
}

.loginPassword-spanSplitLine {
    width: 1px;
    height: 12px;
    margin: 0px 16px;
    background: rgba(22, 24, 35, 0.12);
}

.loginPassword-submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    line-height: 22px;
    margin-top: 21px;
    padding: 6px 8px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.loginPassword-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    height: 64px;
    color: rgb(22, 24, 35);
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}

.loginPassword-signup-link {
    font-size: 15px;
    font-weight: 600;
    color: rgb(254, 44, 85);
    margin-left: 8px;

    &:hover {
        text-decoration: underline;
    }
}
