.resetPassword-emailWrapper {
    flex: 1 1 0%;
    overflow: auto;
}

.resetPassword-emailContent {
    width: 80%;
    margin: auto;
}

.resetPassword-emailTitle {
    font-size: 32px;
    margin: 16px auto;
    font-weight: 700;
    color: rgb(22, 24, 35);
    text-align: center;
    overflow-wrap: break-word;
}

.resetPassword-emailDesc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgb(22, 24, 35);
}

.resetPassword-emailLinkPhone {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.75);

    &:hover {
        text-decoration: underline;
    }
}

.resetPassword-emailForm {
    position: relative;
    margin-bottom: 10px;
}

.resetPassword-emailInputFill {
    width: 100%;
    font-size: 16px;
    height: 44px;
    outline: none;
    border-radius: 2px;
    background-color: #f1f1f3;
    border: 1px solid rgba(22, 24, 35, 0.12);
    padding-inline-start: 12px;
    color: rgb(22, 24, 35);
    line-height: 100%;
    caret-color: rgb(254, 44, 85);
    padding-inline-end: 12px;
}

.resetPassword-numberCode {
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0, 0.05);
}

.resetPassword-formInput {
    position: relative;
    flex: 1 1 0%;
    width: 0px;
}

.resetPassword-inputCode {
    border-radius: 2px;
    background-color: #f1f1f3;
    border-right: 2px solid rgba(22, 24, 35, 0.12);
    padding-inline-start: 12px;
    color: rgb(22, 24, 35);
    line-height: 100%;
    outline: none;
    font-size: 16px;
    height: 44px;
    caret-color: rgb(254, 44, 85);
    width: 100%;
}

.resetPassword-buttonSendCode {
    margin: 0px;
    font-size: 15px;
    font-weight: 600;
    color: #161823;
    border-radius: 0px 4px 4px 0px;
    border-inline-start-width: 1.5px;
    cursor: pointer;
    padding: 0px 16px;
    height: 44px;
    flex-shrink: 0;
    box-sizing: content-box;
}

.resetPassword-passwordForm {
    position: relative;
    margin-bottom: 10px;
}

.resetPassword-inputPassword {
    width: 100%;
    height: 44px;
    font-size: 16px;
    line-height: 100%;
    border-radius: 2px;
    padding-inline: 12px 24px;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: rgba(22, 24, 35, 0.06);
    color: rgb(22, 24, 35);
    outline: none;
    caret-color: rgb(254, 44, 85);
}

.resetPassword-submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    margin-top: 21px;
    line-height: 22px;
    font-weight: 700;
    padding: 6px 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 44, 85);
    border: none;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.resetPassword-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 18px;
    height: 64px;
    color: rgb(22, 24, 35);
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}

.resetPassword-signup-link {
    font-size: 15px;
    font-weight: 600;
    color: rgb(254, 44, 85);
    margin-left: 8px;

    &:hover {
        text-decoration: underline;
    }
}
