.wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    min-width: 100px;
    line-height: 20px;
    letter-spacing: 0.03px;
    padding: 8px 28px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid transparent;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// Button types

.rounded {
    position: relative;
    right: 0;
    bottom: 0;
    padding: 0 8px;
    min-width: 90px;
    height: 32px;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgba(22, 24, 35, 0.75);
    border-radius: 52px;
    letter-spacing: 0.093px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s cubic-bezier(0.4, 0.14, 0.3, 1);
    transform-origin: right bottom;
    transform: none;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.primary {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 44, 85, 1);
    margin-left: 8px;

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.text {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    padding: 8px 24px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.outline {
    position: absolute;
    right: 0;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1);
    border-color: rgba(254, 44, 85, 1);
    top: 28px;
    font-size: 16px;
    line-height: 20px;
    min-width: 88px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        border-color: rgba(254, 44, 85, 1);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

// Button sizes
.small {
    height: 28px;
    padding: 0 10px;
}

.large {
    min-width: 192px;
    min-height: 48px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    width: 100%;
    padding: 6px 8px;
}

.icon {
    margin: 0;
}
