.container {
    display: flex;
    flex: 1 1 auto;
    padding: 32px 24px 36px;
    flex-direction: column;
}

.header-wrapper {
    position: relative;
    flex: 0 0 auto;
    margin-bottom: 20px;
    padding-right: 92px;
    max-width: 624px;
}

.share-info {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.user-avatar {
    position: relative;
    width: 116px;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 24px;
}

.user-avatar-img {
    margin: 0px;
    padding: 0px;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    object-fit: cover;
    overflow: hidden;
    line-height: 32px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(136, 136, 136, 0.5);
    border: 1px solid rgba(22, 24, 35, 0.12);
    position: relative;
}

.user-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    overflow: visible;
    flex: 1 1 0%;
}

.user-nickname {
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 32px;
    line-height: 38px;
    overflow: hidden;
    text-align: left;
    word-break: break-word;
    text-overflow: ellipsis;
}

.user-fullname {
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
}

.follow-container {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    width: 208px;
    height: 36px;
    padding: 0px;
    margin: 12px 0px 0px;
    position: relative;
}

.message-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0px;
    top: 0px;
    opacity: 1;
}

.btn-follow {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    padding: 4px 12px;
    width: 164px;
}

.btn-followed {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    min-width: 164px;
    min-height: 36px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1);
    border: 1px solid rgba(254, 44, 85, 1);
    background-color: rgb(255, 255, 255);
    position: relative;
    cursor: pointer;
}

.btn-unfollow {
    color: rgb(255, 255, 255);
    background: none;
    width: 208px;
    background-color: rgba(254, 44, 85, 1);
}

.btn-personal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    padding: 4px 12px;
    width: 164px;
    color: rgba(18, 18, 18, 0.75);
    background-color: rgb(255, 255, 255);
}

.icon-follow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);
}

.count-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 22px;
    color: rgba(18, 18, 18, 0.75);
}

.count-number {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.count-number:not(:last-child) {
    margin-right: 20px;
}

.countInteract {
    font-weight: 700;
    color: #000;
    margin-right: 6px;
    font-size: 18px;
    line-height: 28px;
}

.title-count {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.share-desc {
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
    text-align: left;
    font-weight: 400;
    font-weight: 400;
    color: rgba(22, 24, 35, 1);
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
}

.share-action {
    position: absolute;
    top: 11px;
    cursor: pointer;
    right: 52px;
}

.more-action {
    position: absolute;
    top: 11px;
    cursor: pointer;
    right: 12px;
}

.body-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 490px;
    min-width: 920px;
    align-items: flex-start;
    position: relative;
}

.video-feedtab {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    top: 0px;
    width: 100%;
    height: 44px;
    margin-bottom: 8px;
    z-index: 0;
    background-color: rgba(255, 255, 255, 1);
}

.tab {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    height: 44px;
    font-weight: 600;
    padding: 0 32px;
    cursor: pointer;
    text-align: center;
    color: rgba(22, 24, 35, 1);
    transition: color 0.3s ease;
}

.tab:last-child {
    justify-content: center;
    color: #73747b;
}

.tab.active {
    color: rgba(22, 24, 35, 1);
}

.tab:hover {
    color: rgba(22, 24, 35, 1);
}

.bottom-line {
    width: 118px;
    height: 2px;
    top: 43px;
    background: rgba(22, 24, 35, 1);
    transition: transform 0.3s;
    position: absolute;
}

#tab-video:hover ~ .bottom-line {
    transform: translateX(0); /* Width of each tab */
    width: 112px;
}

#tab-liked:hover ~ .bottom-line {
    transform: translateX(100%);
    width: 112px; /* Width of each tab */
}

.video-feedtab::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    transform: scaleY(50%);
    background-color: rgba(0, 0, 0, 0.12);
}

.video-grid {
    width: 100%;
    display: grid;
    grid-gap: 24px 16px;
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
}

.video-each {
    width: 100%;
    // height: 244px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.video-desc {
    font-weight: 400;
    padding: 2px 4px 0px;
    cursor: pointer;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    box-sizing: content-box;
}

.no-video {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 40px 0;
    width: 100%;
}

.no-video-headline {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

.no-video-text {
    font-size: 16px;
    line-height: 24px;
    color: rgb(0, 0, 0, 0.5);
}

.liked-video {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}

.liked-video-icon {
    display: flex;
    width: 90px;
    height: 90px;
}

.liked-video-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: rgb(22, 24, 35);
    margin-top: 24px;
}

.liked-video-desc {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    margin-top: 8px;
}

@media (min-width: 768px) {
    .liked-video-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: rgb(22, 24, 35);
        margin-top: 24px;
    }

    .liked-video-desc {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: rgba(22, 24, 35, 0.75);
        margin-top: 8px;
    }
}
