.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 60px;
    display: flex;
    width: var(--default-layout-width);
    max-width: 100%;
    align-self: center;
    flex: 1 1 auto;
}

.content {
    position: relative;
    width: 100%;
    min-width: 420px;
    margin: 0 auto;
    flex-shrink: 1;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 1000px;
    background-color: #ccc;
}
