.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 60px;
    padding: 0 24px;
    width: var(--default-layout-width);
}

.content {
    position: relative;
    min-width: 420px;
    margin: 0 0 0 420px;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 1000px;
}
