// Menu wrapper
.menu-list {
    min-width: 224px;
    font-weight: 500;
    padding: 8px 20px;

    .menu-item {
        margin-left: 0;
    }

    a {
        padding: 10px 10px !important;
    }

    button:nth-child(1) {
        padding: 10px 10px !important;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    font-weight: 600;
    color: rgb(10, 11, 16);

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Header menu level 2
.header {
    position: relative;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    margin-top: -8px;
}

.back-btn {
    font-size: 18px;
    margin-left: 20px;
    background: transparent;
    padding: 0 !important;
    cursor: pointer;
}

.header-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.03px;
}
