// .wrapper {
//     display: flex;
//     align-items: center;
//     padding: 9px 16px;
//     cursor: pointer;

//     &:hover {
//         background: rgba(22, 24, 35, 0.03);
//     }

//     &:focus-visible {
//         outline-style: auto;
//     }
// }

// .wrapper-cursor {
//     display: flex;
//     align-items: center;
//     padding: 9px 16px;
//     cursor: pointer;
//     background: rgba(22, 24, 35, 0.03);

//     &:focus-visible {
//         outline-style: auto;
//     }
// }

// Class wrapper move to Search.module.scss file to handle when className change = cursor...

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 0 1 auto;
    margin-left: 12px;
}

.name {
    font-size: 1.6rem;
    line-height: 21px;
    letter-spacing: 0.03px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.check-icon {
    margin-left: 6px;
    font-size: 1.2rem;
    color: rgb(32, 213, 236);
}

.username {
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.093px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
