.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    &:focus-visible {
        outline-style: auto;
    }
}

.wrapper-cursor {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    background: rgba(22, 24, 35, 0.03);

    &:focus-visible {
        outline-style: auto;
    }
}

.search,
.search-result {
    width: 450px;
}

.search {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: var(--search-height);
    padding-left: 16px;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid transparent;
    border-radius: 92px;
    overflow: hidden;
    z-index: 1;
    width: 460px;

    input {
        font-weight: 400;
        font-family: var(--font-family);
        font-size: 1.6rem;
        padding: 12px 0;
        line-height: 21px;
        letter-spacing: 0.03px;
        background-color: transparent;
        width: 391px;
        color: rgb(22, 24, 35);
        caret-color: rgb(254, 44, 85);
        appearance: textfield;
        padding-right: 40px;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:hover {
        border: 1px solid rgba(22, 24, 35, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        right: 52px;
        top: 9px;
        height: calc(var(--search-height) - 18px);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.093px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: 53px;
    height: 100%;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    padding: 5px 22px 2px 13px;
    cursor: pointer;
    margin-left: 0;
    background: transparent;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-result {
    padding-top: 8px;
    margin-left: -1px;
}

.search-btn-icon {
    margin-left: -4px;
}
