// CSS Modal
.modal-wrapper {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: auto;
    position: fixed;
    overflow: auto;
    outline: none;
    inset: 0;
}

.modal-background {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    max-height: 693px;
    height: 80%;
    width: (100% / 3);
    border-radius: 8px;
    overflow: hidden;
    transform: none;
    margin: auto;
    background-color: rgb(255, 255, 255);
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    position: relative;
}

.modal-content {
    position: relative;
    height: 100%;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    width: 428px;
}

.modal-IconClose {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    right: 15px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 50%;
    background: rgba(22, 24, 35, 0.03);
}

.modal-IconBack {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    left: 15px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

@media (min-width: 640px) {
    .modal-container {
        max-height: 693px;
        height: 80%;
        width: (100% * 2) / 3;
        border-radius: 8px;
        overflow: hidden;
        transform: none;
        margin: auto;
        background-color: rgb(255, 255, 255);
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        position: relative;
    }
}

@media (min-width: 768px) {
    .modal-container {
        max-height: 693px;
        height: 80%;
        width: (100% / 3);
        border-radius: 8px;
        overflow: hidden;
        transform: none;
        margin: auto;
        background-color: rgb(255, 255, 255);
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        position: relative;
    }
}

@media (min-width: 1024px) {
    .modal-container {
        max-height: 693px;
        height: 80%;
        width: (100% / 3);
        border-radius: 8px;
        overflow: hidden;
        transform: none;
        margin: auto;
        background-color: rgb(255, 255, 255);
        transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
        position: relative;
    }
}

.submit-btn {
    border: none;
    color: rgba(22, 24, 35, 0.34);
    background-color: rgba(22, 24, 35, 0.06);
    pointer-events: none;
    min-width: 120px;
    min-height: 46px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    font-family: ProximaNova, PingFangSC, sans-serif;
    margin-top: 21px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    width: 100%;

    &.active {
        cursor: pointer;
        background-color: var(--primary);
        color: #fff;
    }
    // }
}
// -- End login with phone form
