.wrapper {
    --search-height: 46px;

    top: 0;
    justify-content: center;
    position: fixed;
    height: var(--default-layout-header-height, 60px);
    width: var(--default-layout-width);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    z-index: 1000;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 16px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    min-width: 200px;
}

.search,
.search-result {
    width: 380px;
}

.search {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: var(--search-height);
    padding-left: 16px;
    align-items: center;
    background-color: rgba(22, 24, 35, 0.06);
    border: 1px solid transparent;
    border-radius: 92px;
    overflow: hidden;
    z-index: 1;

    input {
        font-weight: 400;
        font-size: 1.6rem;
        padding: 12px 0;
        line-height: 21px;
        letter-spacing: 0.03px;
        background-color: transparent;
        width: 391px;
        color: rgb(22, 24, 35);
        caret-color: rgb(254, 44, 85);
        appearance: textfield;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &:hover {
        border: 1px solid rgba(22, 24, 35, 0.2);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        right: 52px;
        top: 9px;
        height: calc(var(--search-height) - 18px);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 0.093px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: 64px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: 52px;
    height: 100%;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    padding: 5px 22px 2px 18px;
    cursor: pointer;
    margin-left: 0;
    background: transparent;

    &:hover {
        background-color: rgba(22, 24, 35, 0.06);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-result {
    padding-top: 8px;
}

.search-btn-icon {
    margin-left: -4px;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.menu-btn {
    position: relative;
    cursor: pointer;
    font-size: 2rem;
    display: block;
    margin-left: 16px;
    background-color: transparent;
    font-style: normal;
    padding: 0 18px;
    -webkit-app-region: no-drag;
}

.action-btn {
    position: relative;
    font-size: 2.2rem;
    padding: 3px 3px 0;
    height: 32px;
    margin-left: 16px;
    cursor: pointer;
    background-color: transparent;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.user-action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
