.wrapper {
    width: 270px !important;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 6px 16px;
    font-weight: 600;
}

.followed-btn {
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.unfollowed-btn {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: #fff;
}

.body {
    margin-top: 12px;
    color: #161823;
}

.nickname {
    font-size: 1.8rem;
}

.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.name {
    font-size: 1.4rem;
}

.analytics {
    margin-top: 10px;
    font-size: 1.8rem;
}

.value {
    margin-right: 5px;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
    color: #161823bf;
}
